/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
/.idea
.env.testing.local

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Windows shortcuts
*.lnk
### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env
### Composer template
composer.phar
vendor/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Folder config file
Desktop.ini
.config.overwrite.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/

# Linux trash folder which might appear on any partition or disk
.Trash-*
### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# KDE directory preferences
.directory

resources/docs
